[Unit]
Description=rclone bisync for ~/Documents/Passwords

[Service]
# ExecSearchPath=%S/nix/profile/bin:/run/current-system/sw/bin
ExecSearchPath=%S/nix/profile/bin
Environment=RCLONE_UUID=c3f99a61c4b943eb8bb326672dc14431
# Notes:
#   The UUID is used to ensure the remote is not messed up
#   Conflict resolution will keep loser, it will just avoid renaming the newer
#   Sync metadata like modification times

# Remember that this same cmdline was run with --resync to initialize
ExecStart=rclone bisync Dropbox:/Passwords %h/Documents/Passwords \
    --config ${HOME}/.config/rclone/dropbox.conf \
    --password-command "cat ${CREDENTIALS_DIRECTORY}/rclone.dropbox.key" \
    --check-access --check-filename .rclone_${RCLONE_UUID} \
    --compare size,modtime,checksum \
    --conflict-resolve newer \
    --resilient \
    --metadata \
    --verbose
Type=oneshot

# Use a config encryption key instead of putting the config into a credential
# Rclone complains if the config file isn't writable
ImportCredential=rclone.dropbox.key

# Security
ProtectSystem=full
PrivateTmp=yes
PrivateMounts=yes
NoNewPrivileges=yes
PrivateUsers=yes
ProtectProc=invisible
ProtectClock=yes
ProtectKernelLogs=yes
ProtectKernelTunables=yes
ProtectHostname=yes
RestrictSUIDSGID=yes
RestrictRealtime=yes
SystemCallFilter=@system-service
SystemCallArchitectures=native
CapabilityBoundingSet=
MemoryDenyWriteExecute=yes
PrivateDevices=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RemoveIPC=yes

# Only let the service see this minimal slice of the filesystem
ProtectHome=tmpfs
StateDirectory=rclone
BindReadOnlyPaths=%S/nix/profile
# We need to allow access to the whole ~/.config/rclone directory,
# as rclone writes to the config by creating a new file here.
BindPaths=%E/rclone
BindPaths=%h/Documents/Passwords
