[Unit]
Description=run rclone bisync for ~/Documents/Passwords

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
RandomizedDelaySec=5sec

[Install]
WantedBy=default.target
